
	<!-- Beginning terminal station -->
	<svg ng-if="$first" height="50" width="50" viewBox="0 0 50 50" aria-label="{{ stop.attributes.name }}">
		<title>{{ stop.attributes.name }}</title>
		<circle cx="24" cy="24" r="24" stroke="none" stroke-opacity=0 fill="#009966" />
		<circle cx="24" cy="24" r="18" stroke="none" stroke-opacity=0 fill="#FFFFFF" />
		<rect x="12" y="44" width="24" height="10" stroke="none" stroke-opacity=0 fill="#009966">	
	</svg>

	<!-- Regular station background -->
	<svg ng-if="!$first && !$last" height="50" width="50" viewBox="0 0 50 50" aria-label="{{ stop.attributes.name }}">
		<title>{{ stop.attributes.name }}</title>
	   <rect x="12" y="0" height="50" width="24" fill="#009966" />
	   <circle cx="24" cy="14" r="12" stroke="black" stroke-width="3" fill="#FFFFFF" />
	</svg>
	
	<!-- End ferminal station -->
	<svg ng-if="$last" height="50" width="50" viewBox="0 0 50 50" aria-label="{{ stop.attributes.name }}">
		<title>{{ stop.attributes.name }}</title>
		<circle cx="24" cy="24" r="24" stroke="none" stroke-opacity=0 fill="#009966" />
		<circle cx="24" cy="24" r="18" stroke="none" stroke-opacity=0 fill="#FFFFFF" />
		<rect x="12" y="0" width="24" height="4" stroke="none" stroke-opacity=0 fill="#009966">
	</svg>