<!-- Train at stop -->
<div class="train_atstop">
	<!-- Train Label -->
	<span ng-repeat="vehicle in stopidmap[stop.id].vehicles_stopped" class="train_text">
		{{ vehicle.attributes.label }}
	</span>
	<img ng-if="stopidmap[stop.id].vehicles_stopped" src="images/yellow-train.png" height=25 width=20></i> <!-- Train Icon -->
</div>

<!-- Incoming train -->
<div class="incoming">
	<span ng-repeat="vehicle in stopidmap[stop.id].vehicles_incoming" class="train_text">{{ vehicle.attributes.label }}</span> <!-- Train Label -->
	<img ng-if="stopidmap[stop.id].vehicles_incoming" src="images/yellow-train.png" height=25 width=20></i> <!-- Train Icon -->
</div>