<!DOCTYPE html>

<head>
	<meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css" href="/thirdparty/bootstrap-3.3.5/bootstrap.min.css" >
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
	<link rel="stylesheet" type="text/css" href="css/status.css">
	<link rel="stylesheet" type="text/css" href="css/headway_dashboard.css">
	<script src="/thirdparty/jquery-1.11.3.min.js"></script>
	<script src="/thirdparty/angular-1.4.8/angular.min.js"></script>
	<script src="/thirdparty/bootstrap-3.3.5/bootstrap.min.js"></script>
    <script src="/thirdparty/highcharts-4.1.8/highcharts-4.1.8.js" charset="utf-8"></script>
	<script src="js/headway_dashboard.js"></script>
</head>


<body>

<div ng-app="hdwyApp" ng-controller="hdwyCtrl">

	<div id="header_row" class="row">
		<h2 id="header_xbound" class="col-sm-4" style="text-align: right">
			WB
		</h2>
		
		<div id="header_middle" class="col-sm-4">
		</div>
		
		<h2 id="header_ybound" class="col-sm-4">
			EB
		</h2>
	</div>

	<div id="stop_diagram" class="row">
		
		<!-- X Bound -->
		<div id="stop_diagram_xbound" class="col-sm-4" style="text-align:right">
		
			<div class="row" ng-if="stops" ng-repeat="(idx, stop) in stops.xbound">
				
				<!-- Column for train icons -->
				<div class="col-sm-9">
					<trainx></trainx>
				</div>
				
				<!-- Column for the colored line with station dots diagram -->
				<div class="col-sm-3 line-container">
					<linediagram></linediagram>
				</div>
							
			</div>
		</div>
		
		<!-- Stop Names -->
		<div id="stop_diagram_stopnames" class="col-sm-4">
			<div class="row" ng-if="stops" ng-repeat="(idx, stop) in stops.xbound">
				<div class="stop_name" ng-class="{'terminal_stop_name': $first || $last }">
					{{ stop.attributes.name | beforeHyphen }}
				</div>
			</div>
		</div>
		
		<!-- Y Bound -->
		<div id="stops_diagram_ybound" class="col-sm-4">
		
			<div class="row" ng-if="stops" ng-repeat="(idx, stop) in stops.ybound | reverse">
				
				<!-- Column for the colored line with station dots diagram -->
				<div class="col-sm-3 line-container">
					<linediagram></linediagram>
				</div>
				
				<!-- Column for train icons -->
				<div class="col-sm-9">
					<trainy></trainy>
				</div>
			</div>
		</div>
	
</div>
</body>
</html>