body{
	background-color: #000;
	color: #FFF;
}
#stop_diagram{
	margin: 0 auto; /* Center on the page */
}
.stop_name{
	height: 50px;
	text-align:center;
}
.terminal_stop_name{
	font-weight: bold;
	font-size: 1.2em;
    vertical-align:middle;
}
.line-container{
	text-align:center;
	height: 50px;
}
.incoming {
	height: 25px;
}
.stop {
	height: 25px;
	margin: 0 auto; /* Center in the div */
}
.train{
	color: #FF0;
}
.train_text {
	color: #FF0;
}