#status, .status {
	padding: 0.5em;
	margin: 1em;
	border-radius: 1em;
	z-index: 99999;
	border-width: 1px;
	border-style: solid;
}
#status{
	display: none; /* Start hidden */
}
#status.bottomleft{
	position: fixed;
    bottom: 0;
    right: 0;
}
#statusClose {
	float: right;
	vertical-align: top;
	width: 20px;
	height: 20px;
	cursor: pointer;
}
#statusImage {
	display: inline-block;
	width: 20px;
	height: 20px;
}
#statusMessage {
	display: inline-block;
}
#status.error, .status.error {
	background-color: #FEE;
	border-color: #ECC;
}
#status.error #statusClose, #statusImage-error {
	color: #ECC;
}
#status.error #statusClose:hover {
	color: #633;
}
#status.info, .status.info {
	background-color: #CEF;
	border-color: #9DE;
}
#status.info #statusClose, #statusImage-info {
	color: #9DE;
}
#status.info #statusClose:hover {
	color: #356;
}
#status.loading, .status.loading {
	background-color: #EEE;
	border-color: #CCC;
}
#status.loading #statusClose, #statusImage-loading {
	color: #CCC;
}
#status.loading #statusClose:hover {
	color: #333;
}
#status.success, .status.success {
	background-color: #EFE;
	border-color: #ECE;
}
#status.success #statusClose, #statusImage-success {
	color: #ECE;
}
#status.success #statusClose:hover {
	color: #636;
}
#status.warning, .status.warning {
	background-color: #FEC;
	border-color: #ED9;
}
#status.warning #statusClose, #statusImage-warning {
	color: #ED9;
}
#status.warning #statusClose:hover {
	color: #653;
}